/*reset*/
* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 13px;
}

/* borders for checking
	*{	border: 1px solid rgba(0, 0, 0, 0.3);}  */

/*main div without menu*/
.main{
	margin: 67px 40%;
	
	width:450px;
	display:block;
}

/*headings after anchors from header*/
h1,h2, h3{
	text-align:center;
	font-family: 'Just Another Hand', cursive;
	font-size:1.9em;
	color:white;
	padding:10px 0;
	width:100%;
	background-color:darkgray;/*lighter than gray*/
	font-weight:300;
	font-family: serif, Arial;
	text-transform:uppercase;
}

header li a{
	color:darkgray;
	font-size:2.2em;
	font-weight:500;
	font-family: serif, Arial;
	text-transform:uppercase;
}

/*Header*/
header{
	width:100%;
	position:fixed;
	top:0;
	background-color:gray;
	 z-index: 99; /*header above all images*/
}

/*header text*/
header li{
	display:inline-flex;
	padding:0 8%;
	margin:10px 0;
}

/*1st category*/
.expf{
	padding:10px 0 20px 0;
}

.tool-font{
	text-align:left;
	font-size:1.2em;
	font-weight:300;
	font-family: serif, Arial;
	text-transform:uppercase;
}
/*2nd category*/
 .famif{
	padding:20px 0 20px 0;
}

/*About*/
.about{
	display: inline-flex;
	margin:15px;
}

/*icons for tools*/
.tools img{
	width:35px;
	padding:1px 3px;
}

/*about left side*/
.leftt{
	width:150px;
	margin-left:20px;
}

/*empty space between about sides*/
.space{
	width:50px;
}

/*about all text*/
.bio{
	font-size:1.5em;
	text-align:right;
	font-family: serif, Arial;
	text-transform:uppercase;
}

/*about description*/
.sm {
	font-size:1em;
}

/*about right side, includes buttons*/
.me{
	text-align:right;
	width:200px;
}

/*Footer*/
footer{
	border-top:1px gray solid;
	padding-top:10px;
	margin:20px;
	text-align:center;
}

/*grayscale all icons; +for later active*/
.colored{
    -webkit-filter: grayscale(100%) contrast(130%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%) contrast(130%);
}
.noc{
    -webkit-filter:contrast(70%); /* Safari 6.0 - 9.0 */
	filter:contrast(70%);
	
}

/*delete underline from links*/
a {
	text-decoration: none;
	color:	#303030;
}
footer a {
	color:black;
}

/*Projects' headings*/
.proheading{
	text-align:left;
	font-size:1.2em;
	font-weight:600;
	margin:20px 0 10px 0;
}

.protext{
	font-style:italic;
	text-align:justify;
}

.viewbutton{
	margin: 20px 10px 10px 0;
	padding: 7px 15px;
	font-weight: 600;
	background-color: lightgray;
	border-color: lightgray;
	border-style: solid;
	border-radius: 2px;
	display:inline-block;
}

.pronote{
	font-style:italic;
	font-size:0.8em;
	text-align:right;
}

.tag{
	font-size:0.8em;
	text-align:center;
	margin: 0px 5px 10px 0;
	padding: 3px 7px;
	font-weight: 600;
	background-color: lightgray;
	border-color: lightgray;
	border-style: solid;
	border-radius: 2px;
	display:inline-block;
}

.ltag{
	color:#505050;
	font-size:1em;
	font-weight:bold;
	text-align:center;
	padding: 2px 4px;
	background-color: darkgray;
	border-color: darkgray;
	border-style: solid;
	border-radius: 2px;

}

.tags, .viewbuttons{
	text-align:center;
}

.link2{
	color:black;
	text-decoration:underline;
}

 .contact, #hide {
	display:none;
}


	